|Faculdade |Curso|Disciplina |Professor|Ano|
| :- | :- | :- | :- | :- |
|Est√°cio de S√£o Paulo|ADS|T√≥picos de Big Data em Python|Prof. Fabio Oliveira|2025|

# An√°lise de Dados

### üìò Dicion√°rio de Dados - Dataset IMDb

Este dicion√°rio descreve as colunas (campos) contidas no dataset de filmes do IMDb utilizado neste projeto. Ele detalha o nome do campo, o tipo de dado esperado e uma breve descri√ß√£o.

| Campo (Nome da Coluna) | Tipo de Dado | Descri√ß√£o | Exemplo |
| :--- | :--- | :--- | :--- |
| **id** | Texto (string) | Identificador √∫nico do filme no IMDb (formato `tt1234567`) | `tt0073470` |
| **title** | Texto (string) | T√≠tulo do filme | `Strip Nude for Your Killer` |
| **link** | URL (Texto) | Link direto para a p√°gina do filme no IMDb | `https://www.imdb.com/...` |
| **year** | N√∫mero (Inteiro) | Ano de lan√ßamento do filme | `1975` |
| **duration** | Texto | Dura√ß√£o do filme no formato horas e minutos | `1h 38m` |
| **rating_mpa** | Texto | Classifica√ß√£o indicativa (MPAA Rating) | `PG, R, Not Rated, etc.` |
| **rating_im** | N√∫mero (decimal) | Nota m√©dia do filme no IMDb | `6.6` |
| **vote** | N√∫mero (Inteiro) | N√∫mero de votos recebidos no IMDb | `11000` |
| **budget** | N√∫mero (Inteiro) | Or√ßamento de produ√ß√£o (em d√≥lares) | `535000` |
| **gross_world_wic** | N√∫mero (Inteiro) | Receita bruta mundial | `41687243` |
| **gross_us_canad** | N√∫mero (Inteiro) | Receita bruta nos EUA e Canad√° | `33500000` |
| **gross_ope** | N√∫mero (Inteiro) | Receita bruta na semana de estreia mundial | `2040920` |
| **director** | Texto | Nome do(a) diretor(a) do filme | `Andrea Bianchi` |
| **writer** | Texto | Nome(s) do(s) roteirista(s) | `Edwig Fenech` |
| **star** | Texto | Nome(s) do(s) ator(es)/atriz(es) principal(is) | `Andrea Bianchi` |
| **genre** | Texto | G√™nero principal do filme | `Erotic, Drama, etc.` |
| **country** | Texto | Pa√≠s de produ√ß√£o | `Italy, United States` |
| **film_comp** | Texto | Companhia ou est√∫dio respons√°vel pela produ√ß√£o | `Milan, United Artists` |
| **production_language** | Texto | Idioma principal do filme | `Italian, English, etc.` |
| **win** | N√∫mero (Inteiro) | N√∫mero de pr√™mios ganhos (geral) | `0, 1, 2, etc.` |
| **nominee** | N√∫mero (Inteiro) | N√∫mero de indica√ß√µes a pr√™mios | `0, 1, 2, etc.` |
| **oscar** | N√∫mero (Inteiro) | N√∫mero de Oscars ganhos | `0, 1, etc.` |

Importando a biblioteca Pandas para an√°lise de dados e visualizando a formata√ß√£o dos dados, especialmente nas colunas de dura√ß√£o e financeiras com o comando "head"

In [43]:
import pandas as pd #importa a biblioteca pandas de an√°lise de dados e a renomomeia como pd

filmes_df = pd.read_excel("filmes.xlsx")  #l√™ o arquivo excel e o renomeia filmes_df
filmes_df.head() #visualizei as 5 primeiras linhas

,id,title,link,year,duration,rating_mpa,rating_imdb,vote,budget,gross_world_wide,...,writer,star,genre,country_origin,filming_location,production_company,language,win,nomination,oscar
0,tt0073470,Strip Nude for Your Killer,https://www.imdb.com/title/tt0073470,1975,1h 38m,Not Rated,2025-06-05 00:00:00,33000.0,NaN,NaN,...,"Andrea Bianchi, Massimo Felisatti","Edwige Fenech, Nino Castelnuovo, Femi Benussi","Erotic Thriller, Giallo, Slasher Horror, Horro...",Italy,"Milan, Lombardia, Italy",FRAL Cinematografica,Italian,0.0,0,0
1,tt0072764,Carry on Behind,https://www.imdb.com/title/tt0072764,1975,1h 30m,Not Rated,2025-06-05 00:00:00,31000.0,NaN,NaN,...,Dave Freeman,"Elke Sommer, Kenneth Williams, Bernard Bresslaw","Parody, Slapstick, Comedy",United Kingdom,"Bad Godesberg Way, Maidenhead, Berkshire, Engl...","The Rank Organisation, Peter Rogers Productions",English,0.0,0,0
2,tt0131526,"So Young, So Lovely, So Vicious...",https://www.imdb.com/title/tt0131526,1975,1h 30m,NaN,2025-09-04 00:00:00,487.0,NaN,NaN,...,"Silvio Amadio, Roberto Natale","Gloria Guida, Dagmar Lassander, Fred Robsahm","Drama, Mystery, Thriller",Italy,"Sardinia, Italy",Domiziana Internazionale Cinematografica,Italian,0.0,0,0
3,tt0073335,Mahogany,https://www.imdb.com/title/tt0073335,1975,1h 49m,PG,2025-01-06 00:00:00,23000.0,NaN,NaN,...,"John Byrum, Toni Amber","Diana Ross, Billy Dee Williams, Anthony Perkins","Drama, Romance",United States,Marshall Field Co Department Store 111 N Sta...,"Motown Productions, Nikor Productions, Paramou...","English, Italian",0.0,0,1
4,tt0073006,Foreplay,https://www.imdb.com/title/tt0073006,1975,1h 15m,R,4,185.0,NaN,NaN,...,"Dan Greenburg, Jack Richardson, Bruce Jay Frie...","Irwin Corey, Pat Paulsen, Deborah Loomis","Parody, Satire, Sketch Comedy, Comedy",United States,NaN,SynFrank Enterprises,English,0.0,0,0

Agora vamos verificar o tipo de dado inferido para cada coluna e a contagem de valores n√£o-nulos usando o comando "info". Isso √© crucial para identificar colunas que deveriam ser num√©ricas (como receita) mas foram lidas como objeto (string).

In [44]:
filmes_df.info() #verifica o tipo de dado inferido para cada coluna e a contagem de valores n√£o-nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2000 non-null   object
 1   title                  2028 non-null   object
 2   link                   2000 non-null   object
 3   year                   2028 non-null   int64
 4   duration               1991 non-null   object
 5   rating_mpa             1533 non-null   object
 6   rating_imdb            2017 non-null   object
 7   vote                   1989 non-null   float64
 8   budget                 731 non-null    float64
 9   gross_world_wide       1079 non-null   float64
 10  gross_us_canada        1050 non-null   float64
 11  gross_opening_weekend  923 non-null    float64
 12  director               2011 non-null   object
 13  writer                 1916 non-null   object
 14  star                   1974 non-null   object
 15  genre                  2011 non-null   object
 16  country_origin         1983 non-null   object
 17  filming_location       1608 non-null   object
 18  production_company     1912 non-null   object
 19  language               1975 non-null   object
 20  win                    2000 non-null   float64
 21  nomination             2028 non-null   int64
 22  oscar                  2028 non-null   int64
dtypes: float64(6), int64(3), object(14)
memory usage: 364.5+ KB

**Limpeza e Convers√£o de Colunas Financeiras**
Remove caracteres especiais ($, , e espa√ßos) e converte as colunas para o tipo num√©rico (float).

In [45]:
import numpy as np
# Lista de colunas financeiras a serem limpas
financial_cols = [
    'budget', 'gross_world_wide', 'gross_us_canada', 'gross_opening_weekend'
]

print("--- Limpeza e Convers√£o de Colunas Financeiras ---")

for col in financial_cols:
    # 1. Tentar remover caracteres n√£o-num√©ricos (se houver, baseado no que o pandas leu como 'object')
    if filmes_df[col].dtype == 'object':
        filmes_df[col] = filmes_df[col].astype(str).str.replace(r'[$,]', '', regex=True)
    
    # 2. Converter para float. O par√¢metro errors='coerce' transforma valores
    #    que n√£o podem ser convertidos (como strings vazias ou '-') em NaN.
    filmes_df[col] = pd.to_numeric(filmes_df[col], errors='coerce')
    print(f"Coluna '{col}' convertida para tipo: {filmes_df[col].dtype}")

--- Limpeza e Convers√£o de Colunas Financeiras ---
Coluna 'budget' convertida para tipo: float64
Coluna 'gross_world_wide' convertida para tipo: float64
Coluna 'gross_us_canada' convertida para tipo: float64
Coluna 'gross_opening_weekend' convertida para tipo: float64

**Tratamento de Valores Ausentes (NaN)**
Preenchimento de nulos com base no tipo da coluna (0 para finan√ßas, 'Desconhecido' para categorias).

In [46]:
print("\n--- Tratamento de Valores Ausentes (NaN) ---")

# 1. Preencher NaN nas colunas financeiras com 0
filmes_df[financial_cols] = filmes_df[financial_cols].fillna(0)
print(f"NaN em colunas financeiras preenchidos com 0.")

# 2. Preencher NaN em colunas categ√≥ricas chave com 'Desconhecido'
categorical_cols = ['director', 'writer', 'star', 'country_origin', 'language', 'production_company']
for col in categorical_cols:
    if col in filmes_df.columns:
        filmes_df[col] = filmes_df[col].fillna('Desconhecido')
print(f"NaN em colunas categ√≥ricas preenchidos com 'Desconhecido'.")

# 3. Tratamento de rating_imdb (Verificado na Etapa 3-C)
#    Se rating_imdb n√£o for num√©rica, as linhas com NaN resultantes ser√£o tratadas mais tarde.

--- Tratamento de Valores Ausentes (NaN) ---
NaN em colunas financeiras preenchidos com 0.
NaN em colunas categ√≥ricas preenchidos com 'Desconhecido'.

**Transforma√ß√£o da Dura√ß√£o (duration)**
Converte a dura√ß√£o de 1h 38m para o total em minutos (num√©rico).

In [47]:
import re

print("\n--- Transforma√ß√£o da Dura√ß√£o (Duration) ---")

def convert_duration_to_minutes(duration):
    """Converte strings de dura√ß√£o (ex: '1h 38m') para total em minutos (int)."""
    if pd.isna(duration) or duration in [np.nan, 'nan']:
        return np.nan
    
    # Extrai horas e minutos
    hours = re.search(r'(\d+)h', str(duration))
    minutes = re.search(r'(\d+)m', str(duration))
    
    h = int(hours.group(1)) if hours else 0
    m = int(minutes.group(1)) if minutes else 0
    
    return h * 60 + m

# Aplica a fun√ß√£o e preenche NaN com a mediana ou 0
filmes_df['duration_minutes'] = filmes_df['duration'].apply(convert_duration_to_minutes)
# Preencher valores nulos de dura√ß√£o com a mediana para preservar a distribui√ß√£o
median_duration = filmes_df['duration_minutes'].median()
filmes_df['duration_minutes'] = filmes_df['duration_minutes'].fillna(median_duration).astype(int)

# Remove a coluna original se n√£o for mais necess√°ria
filmes_df = filmes_df.drop('duration', axis=1)
print(f"Coluna 'duration' convertida para 'duration_minutes' (mediana preenchida: {median_duration} min).")

--- Transforma√ß√£o da Dura√ß√£o (Duration) ---
Coluna 'duration' convertida para 'duration_minutes' (mediana preenchida: 99.0 min).

**Tratamento de Vari√°veis Categ√≥ricas M√∫ltiplas (genre, director, etc.)**
Limpeza de espa√ßos e prepara√ß√£o para an√°lise de contagem.

In [48]:
multiple_value_cols = ['genre', 'country_origin'] # Foco em g√™nero e origem para an√°lise
print("\n--- Limpeza de Vari√°veis M√∫ltiplas (G√™nero, Pa√≠s) ---")

for col in multiple_value_cols:
    if col in filmes_df.columns:
        # Preenche Nulos e remove espa√ßos extra
        filmes_df[col] = filmes_df[col].fillna('').astype(str).str.strip()
        # Limpa espa√ßos em branco em volta das v√≠rgulas (ex: "A√ß√£o, Com√©dia" -> "A√ß√£o,Com√©dia")
        filmes_df[col] = filmes_df[col].str.replace(', ', ',', regex=False)
        print(f"Coluna '{col}' limpa de espa√ßos excessivos.")

# Exemplo de One-Hot Encoding (Opcional - √∫til para ML)
# OHE = df['genre'].str.get_dummies(sep=',')
# df = pd.concat([df, OHE], axis=1)

--- Limpeza de Vari√°veis M√∫ltiplas (G√™nero, Pa√≠s) ---
Coluna 'genre' limpa de espa√ßos excessivos.
Coluna 'country_origin' limpa de espa√ßos excessivos.

**Corre√ß√£o do rating_imdb (Imputa√ß√£o por Mediana)**
Este processo garante que todos os valores n√£o num√©ricos sejam convertidos para NaN e, em seguida, os NaN sejam preenchidos com o valor mediano, preservando a distribui√ß√£o da coluna.

In [49]:
import numpy as np

print("--- Corre√ß√£o e Imputa√ß√£o da Mediana para 'rating_imdb' ---")

# Passo 1: For√ßar a Convers√£o para Num√©rico
# O par√¢metro errors='coerce' transforma quaisquer strings inv√°lidas (como '2025-06-05')
# em NaN, permitindo a limpeza e o c√°lculo da mediana.
filmes_df['rating_imdb'] = pd.to_numeric(filmes_df['rating_imdb'], errors='coerce')
print("Valores n√£o num√©ricos em 'rating_imdb' convertidos para NaN.")

# Passo 2: Calcular a Mediana dos Ratings V√°lidos
# A mediana √© calculada apenas sobre os valores que N√ÉO s√£o NaN (os ratings v√°lidos).
median_rating = filmes_df['rating_imdb'].median()
print(f"Mediana dos ratings v√°lidos calculada: {median_rating:.2f}")

# Passo 3: Preencher os Nulos com a Mediana
# Os valores NaN (os ratings inv√°lidos ou ausentes) s√£o preenchidos com a mediana calculada.
filmes_df['rating_imdb'] = filmes_df['rating_imdb'].fillna(median_rating)
filmes_df['rating_imdb'] = filmes_df['rating_imdb'].astype(float) # Garante que o tipo final seja float

print("Valores NaN preenchidos com a mediana.")
print(f"N√∫mero de nulos restantes em 'rating_imdb': {filmes_df['rating_imdb'].isnull().sum()}")

# Visualiza√ß√£o para confirmar
print("\nPrimeiras linhas ap√≥s o tratamento:")
display(filmes_df[['title', 'rating_imdb']].head())

--- Corre√ß√£o e Imputa√ß√£o da Mediana para 'rating_imdb' ---
Valores n√£o num√©ricos em 'rating_imdb' convertidos para NaN.
Mediana dos ratings v√°lidos calculada: 6.00
Valores NaN preenchidos com a mediana.
N√∫mero de nulos restantes em 'rating_imdb': 0

Primeiras linhas ap√≥s o tratamento:

                                title  rating_imdb
0          Strip Nude for Your Killer          6.0
1                     Carry on Behind          6.0
2  So Young, So Lovely, So Vicious...          6.0
3                            Mahogany          6.0
4                            Foreplay          4.0

- Por que usar a Mediana?
Em projetos de an√°lise de dados, a mediana √© prefer√≠vel √† m√©dia para imputa√ß√£o de valores ausentes porque √© menos sens√≠vel a outliers (valores discrepantes). Isso significa que um ou dois filmes com ratings extremamente altos ou baixos n√£o distorcer√£o o valor usado para preencher os dados faltantes, resultando em uma imputa√ß√£o mais robusta.

**Engenharia de Recursos (Feature Engineering)**
Cria√ß√£o de novas colunas que enriquecem a an√°lise.

1. profit (Lucro)

Coluna : profit 

Explica√ß√£o:
	
	Esta coluna calcula a rentabilidade bruta do filme, subtraindo o budget (or√ßamento) do gross_world_wide (arrecada√ß√£o mundial total). √â uma m√©trica fundamental para classificar o sucesso financeiro, independentemente do or√ßamento. Filmes com or√ßamento modesto, mas grande retorno, ter√£o um alto lucro, enquanto blockbusters que mal cobrem os custos ter√£o um lucro baixo ou negativo.

In [50]:
from datetime import datetime

# 1. Lucro (Profit)
# A coluna √© criada com base em valores j√° limpos (0 para NaN)
filmes_df['profit'] = filmes_df['gross_world_wide'] - filmes_df['budget']
print("Nova coluna 'profit' (Lucro) criada.")

Nova coluna 'profit' (Lucro) criada.

2. age (Idade do Filme)

Coluna : age

Explica√ß√£o:
	
	Esta coluna calcula h√° quantos anos o filme foi lan√ßado, subtraindo o year (ano de lan√ßamento) do ano atual. √â crucial para an√°lises de s√©ries temporais, tend√™ncias de mercado e para evitar que o ano em si (que √© um valor sequencial) seja usado em modelos que requerem um dado de intervalo (como a idade).

In [51]:
# 2. Idade do Filme
current_year = datetime.now().year
filmes_df['age'] = current_year - filmes_df['year']
print(f"Nova coluna 'age' (Idade do filme, em rela√ß√£o a {current_year}) criada.")

Nova coluna 'age' (Idade do filme, em rela√ß√£o a 2025) criada.

3. is_oscar_winner (Vencedor de Oscar)

Coluna : is_oscar_winner 

Explica√ß√£o:
	
	Esta √© uma vari√°vel bin√°ria (0 ou 1) que simplifica a an√°lise de prest√≠gio. Ela verifica se o filme possui um valor maior que zero na coluna oscar. √â muito mais eficiente analisar a presen√ßa/aus√™ncia de vit√≥rias (1 se ganhou pelo menos um, 0 se n√£o ganhou) do que o n√∫mero exato de estatuetas para a maioria das an√°lises de sucesso.

In [52]:
# 3. Simplifica√ß√£o de Vencedor do Oscar
# Cria uma coluna bin√°ria (0/1) se o filme ganhou pelo menos um Oscar
filmes_df['is_oscar_winner'] = (filmes_df['oscar'] > 0).astype(int)
print("Nova coluna bin√°ria 'is_oscar_winner' criada.")

Nova coluna bin√°ria 'is_oscar_winner' criada.

4. num_genre (N√∫mero de G√™neros)

Coluna : num_genre  

Explica√ß√£o:
	
	Esta coluna conta quantos g√™neros foram atribu√≠dos a cada filme (baseado nos itens separados por v√≠rgula na coluna genre). Ela permite analisar se filmes mais nichados (com 1 ou 2 g√™neros) ou filmes mais abrangentes (com 4 ou mais g√™neros) tendem a performar melhor em termos de arrecada√ß√£o, lucro ou rating.

In [53]:
# 4. N√∫mero de G√™neros
# Conta quantos g√™neros o filme possui
filmes_df['num_genre'] = filmes_df['genre'].apply(lambda x: len(x.split(',')) if x else 0)
print("Nova coluna 'num_genre' (N√∫mero de G√™neros) criada.")

Nova coluna 'num_genre' (N√∫mero de G√™neros) criada.

Agora teremos quatro novas e poderosas colunas prontas para iniciar a An√°lise Explorat√≥ria de Dados (EDA).

In [56]:
# Exibe o resultado final das colunas transformadas
print("\n--- Visualiza√ß√£o Final (Colunas Chave) ---")
display(filmes_df[['title', 'year', 'age', 'duration_minutes', 'rating_imdb', 'budget', 'gross_world_wide', 'profit', 'is_oscar_winner', 'num_genre']].head())

--- Visualiza√ß√£o Final (Colunas Chave) ---

,title,year,age,duration_minutes,rating_imdb,budget,gross_world_wide,profit,is_oscar_winner,num_genre
0,Strip Nude for Your Killer,1975,50,98,6.0,0.0,0.0,0.0,0,6
1,Carry on Behind,1975,50,90,6.0,0.0,0.0,0.0,0,3
2,"So Young, So Lovely, So Vicious...",1975,50,90,6.0,0.0,0.0,0.0,0,3
3,Mahogany,1975,50,109,6.0,0.0,0.0,0.0,1,2
4,Foreplay,1975,50,75,4.0,0.0,0.0,0.0,0,4